<div class="fabs">
  <div class="chat" [hidden]="!chatVisible">
    <div class="chat_header bg-theme">
      <div class="chat_option">
        <div class="header_img">
          <img [src]="selectedUser.image | image" class="bg-white" />
        </div>
        <span id="chat_head">{{selectedUser.name}}</span>
        <br>
        <!-- <span class="agent">Agent</span> -->
        <span *ngIf="selectedUser.connected" class="online">(Online)</span>
        <span id="chat_fullscreen_loader" (click)="getFullScreenMode()" class="chat_fullscreen_loader"><i
            class="fullscreen zmdi zmdi-window-maximize"></i></span>
      </div>

    </div>
    <div class="chat_body chat_login">
      <!-- <a id="chat_first_screen" class="fab bg-theme"><i class="zmdi zmdi-arrow-right"></i></a> -->
      <div id="chat-user-list">
        <ul class="user-list pl-0">
          <li class="d-flex justify-content-start align-items-center user-item-list pointer p-1"
            *ngFor="let user of users; let i = index;" (click)="switchUserChat(user)">
            <img [src]="user.image | image" alt="" width="26" class="rounded-circle ml-2">
            <span class="text-themecolor pl-2">{{user.name}}</span>
            <i class="fa fa-circle ml-2" style="color:#34c15c" *ngIf="user.connected == true"></i>
            <p class="text-muted private-msg-alert m-0 ml-3 p-0" [title]="user.lastcontent" style="font-size: 12px;"
              [ngClass]="{'text-success': user.alerting}">
              <span *ngIf="user.lastcontent != '123call'" >{{user.lastcontent}}</span>
              <span *ngIf="user.lastcontent == '123call'" >Video call</span>
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div id="chat_converse" class="chat_conversion chat_converse">
      <a id="chat_second_screen" class="fab bg-theme"><i class="zmdi zmdi-arrow-left text-white"
          (click)="hideChat(0)"></i></a>
      <div class="chat_msg_item chat_msg_item_admin" *ngFor="let message of messages"
        [ngClass]="{'chat_msg_item_user': userService.user._id == message.owner._id}">
        <div class="chat_avatar" *ngIf="userService.user._id != message.owner._id">
          <img *ngIf="userService.user._id != message.owner._id" [src]="message.owner.image | image" />
        </div>
        <span *ngIf="message.content != '123call'" >{{message.content}}</span>
        <div *ngIf=" message.content=='123call'" class="">
          <div class="chat-bubble"
            [ngClass]="{'chat-bubble--left': userService.user._id != message.owner._id, 'chat-bubble--right text-white': userService.user._id == message.owner._id}">
            <a href="javascript:void(0);" [routerLink]="['/meet', message.callOptions]"
              routerLinkActive="router-link-active" target="_blank">
              <i class="fa fa-video-camera mr-2"></i>
              <span>{{translate.instant('chat.video_call')}}</span>
            </a>
          </div>
        </div>
      </div>
  </div>
  <div class="fab_field d-flex- align-items-center">
    <!-- <i id="chat_second_screen" class="fab bg-theme"><i class="zmdi zmdi-arrow-left" (click)="hideChat(0)"></i></a> -->
    <a class="fab bg-theme" style="float:left" [hidden]="selectedUser._id == userService.user._id" (click)="sendCall()"><i class="zmdi zmdi-comment-video"></i></a>
    <textarea id="chatSend" name="chat_message bg-white" placeholder="Send a message" class="chat_field chat_message"
      (keyup.enter)="sendMessage()" [(ngModel)]="msg" [hidden]="selectedUser._id == userService.user._id"></textarea>
    <a id="fab_send" class="fab bg-theme" [hidden]="selectedUser._id == userService.user._id" (click)="sendMessage()"><i class="zmdi zmdi-mail-send"></i></a>
    <a id="fab_camera" class="fab bg-theme" *ngIf="selectedUser._id != userService.user._id">
      <i class="zmdi zmdi-arrow-left " [hidden]="selectedUser._id == userService.user._id" (click)="hideChat(0)"></i>
    </a>
  </div>
</div>
<a id="prime" (click)="toggleFab()" class="fab bg-theme text-white"><i class="prime zmdi zmdi-comment-outline"></i></a>
</div>
