<section id="wrapper" class="login-register login-sidebar"
  style="background-image:url(./assets/images/background/stadium.jpg);">
  <div class="login-box card">
    <div class="card-body p-0">
      <form [formGroup]="formG" ngNativeValidate (ngSubmit)="register()" class="form-horizontal form-material col-sm-12"
        id="loginform" action="index.html">
        <!-- <a href="javascript:void(0)" class="text-center db"><img src="./assets/images/logo-icon.png" alt="Home" /><br /> -->
        <img class="mx-auto d-block mt-0 pt-0" src="./assets/images/BYAM.svg" alt="Home" />
        <h3 class="card-title mt-2 m-b-0 text-center">Regístro en 30 segundos</h3>        
        <div class="form-group m-t-20">
          <div class="col-xs-12">
            <input class="form-control text-center" type="text" required placeholder="Nombre" formControlName="name" name="name">
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <input class="form-control text-center" type="email" required placeholder="Email" formControlName="email" name="email">
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <input class="form-control text-center" required placeholder="Password" formControlName="password" name="password">
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input class="form-control text-center" required placeholder="Confirmar Password" formControlName="password2"
              name="password2">
          </div>
        </div>

        <!-- {{formG.errors | json}} -->
        <div class="form-group" *ngIf="formG.errors?.passEquals">
          <p class="text-danger">
            Las contraseñas deben ser iguales
          </p>
        </div>

        <div class="form-group row">
          <div class="col-md-12">
            <div class="checkbox checkbox-primary p-t-0">
              <input id="checkbox-signup" type="checkbox" formControlName="conditions" name="conditions">
              <label for="checkbox-signup" style="font-size: 13px;"> Acepto los <a href="#">Términos y condiciones</a></label>
            </div>
          </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button class="text-center btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Registrarme</button>
          </div>
        </div>
        <div class="form-group m-b-0">
          <div class="col-sm-12 text-center" style="font-size: 14px;">
            <p>¿Ya tienes una cuenta? <a [routerLink]="[ '/login']" class="text-info m-l-5"><b>Accede</b></a></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
