<div class="container-fluid chat-container pt-0">
  <div class="row no-gutters">
    <div class="col-md-4 border-right">
      <div class="settings-tray bg-theme">
        <img class="profile-image" [src]="userService.user.image | image" alt="Profile img">
        <span class="settings-tray--right">
          <i class="fa fa-refresh text-white"></i>
          <i class="fa fa-comments text-white"></i>
        </span>
      </div>
      <div class="search-box">
        <div class="input-wrapper">
          <i class="fa fa-search mr-2"></i>
          <input placeholder="{{translate.instant('chat.search_here')}}" type="text" [(ngModel)]="searchChatUser" (keyup)="searchInput($event)">
        </div>
      </div>

      <div class="users-container">
        <div class="friend-drawer friend-drawer--onhover" *ngFor="let user of users; let i = index;"
          (click)="switchUserChat(user)">
          <img class="profile-image" [src]="user.image | image" alt="">
          <div class="text">
            <h6>{{user.name}}</h6>
            <p class="text-muted private-msg-alert" [title]="user.lastcontent" style="font-size: 12px;"
              [ngClass]="{'text-primary': user.alerting}">{{user.lastcontent}}</p>
          </div>
          <i class="fa fa-circle" style="color:#34c15c" *ngIf="user.connected == true"></i>
          <!-- <span class="time text-muted small">13:21</span> -->
        </div>
      </div>
      <hr>
    </div>
    <div class="col-md-8">
      <div class="settings-tray bg-theme ">
        <div class="friend-drawer no-gutters bg-theme">
          <img class="profile-image" [src]="selectedUser.image | image" alt="">
          <div class="text">
            <h6 class="text-white">{{selectedUser.name}}</h6>
            <!-- <p class="text-muted">blbalbalablab</p> -->
          </div>
          <span class="settings-tray--right d-flex bg-theme text-white">
            <i class="fa fa-refresh text-white" (click)="refresh()"></i>
            <i class="fa fa-video-camera text-white" (click)="sendCall()"></i>
            <!-- <i class="fa fa-bars"></i> -->
          </span>
        </div>
      </div>
      <div class="chat-panel">
        <div class="row no-gutters" *ngFor="let message of messages">
          <div [hidden]="message.content == '123call'" class="col-md-5"
            [ngClass]="{'offset-md-7': userService.user._id == message.owner._id}">
            <div class="chat-bubble"
              [ngClass]="{'chat-bubble--left': userService.user._id != message.owner._id, 'chat-bubble--right': userService.user._id == message.owner._id}">
              {{message.content}}
            </div>
          </div>
          <div [hidden]="message.content != '123call'" class="col-md-5"
            [ngClass]="{'offset-md-7': userService.user._id == message.owner._id}">
            <div class="chat-bubble"
              [ngClass]="{'chat-bubble--left': userService.user._id != message.owner._id, 'chat-bubble--right text-white': userService.user._id == message.owner._id}">
              <a href="javascript:void(0);" [routerLink]="['/meet', message.callOptions]"
                routerLinkActive="router-link-active" target="_blank">
                <i class="fa fa-video-camera mr-2"></i>
                <span>{{translate.instant('chat.video_call')}}</span>
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="chat-box-tray">
              <i class="fa fa-smile-o"></i>
              <input #messageInput autofocus (input)="searchInput(messageInput.value)" autocomplete="off" (keyup.enter)="sendMessage()"
                type="text" placeholder="{{translate.instant('chat.type_here')}}" name="msg" [(ngModel)]="msg">
              <!-- <i class="fa fa-video-camera btn btn-outline-success" (click)="sendCall()"></i> -->
              <i class="fa fa-arrow-circle-right btn btn-primary" (click)="sendMessage()"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
