<div class="row">
  <div class="col-lg-6 col-xs-12">
    <div class="card">
      <div class="card-body table-body">
        <div class="d-flex flex-column">
          <div class="d-flex align-items-center">
            <a href="javascript:void(0);" [routerLink]="['/profile', owner._id]" routerLinkActive="router-link-active">
              <img [src]="owner.image | image" width="50" class="mr-2 rounded-circle" alt="">
              <span>{{table.name}}</span>
            </a>
            <span class="badge badge-pill badge-primary ml-5 pt-2 pb-2"
              style="font-size:100%;">{{table.betamount}}€</span>
            <span class="fa fa-soccer-ball-o ml-3 fa-2x" *ngIf="table.type == 'Futbol'"></span>
            <img class="ml-3" src="./assets/images/basketball.png" *ngIf="table.type == 'Baloncesto'" width="38">
          </div>
        </div>
        <hr>
        <div class="d-flex align-items-center">
          <ul class="table-users-list d-flex flex-column" style="list-style:none;">
            <li *ngFor="let subscription of tableSubscriptions" class="mt-2">
              <!-- [routerLink]="[ '/profile', subscription.player._id ]" -->
              <a href="javascript:void(0)" (click)="getBetsByTable(subscription.player,subscription.player._id)">
                <img [src]="subscription.player.image | image" alt="" width="30" class="mr-2 rounded-circle">
                <span
                  [ngClass]="{'font-weight-bold': selectedUser._id == subscription.player._id }">{{subscription.player.name}}</span>
              </a>
            </li>
          </ul>
          <h3 class="total-prize badge-pill badge-success ml-5 px-5" style="line-height: 75px;font-weight: bold;">
            {{totalAmount}}€</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-xs-12" *ngIf="!this.checkSubscription()">
    <div class="card">
      <div class="card-body table-body">
        <h4>Apuestas de la mesa</h4>
        <hr>
        <div class="panel-group">
          <div class="panel panel-default" *ngFor="let matchByTable of matchTypeRelations; let i=index">
            <div class="panel-heading">
              <h4 class="panel-title card-title text-center">
                <a data-toggle="collapse" [href]="'#'+matchByTable._id">
                  <span>{{matchByTable.match.localteam}}</span>
                  <span class="ml-2">VS</span>
                  <span class="ml-2">{{matchByTable.match.awayteam}}</span>
                  <span class="ml-2"
                    style="font-size: 13px; color: #ccc2c2;">{{matchByTable.match.when | date: 'short'}}</span>
                </a>
              </h4>
            </div>
            <div [id]="matchByTable._id" class="panel-collapse collapse">
              <span>{{matchByTable.bettype.name}}</span>
              <br>
              <div class="list-group">
                <a href="javascript:void(0)" class="list-group-item list-group-item-action"
                  [ngClass]="{'list-group-item-success': matchByTable.bettype.option1.selected}"
                  (click)="toggleOption(matchByTable, 1, matchByTable.bettype.option1._id)">
                  {{matchByTable.bettype.option1.name}}
                </a>
                <a href="javascript:void(0)" class="list-group-item list-group-item-action"
                  [ngClass]="{'list-group-item-success': matchByTable.bettype.option2.selected}"
                  (click)="toggleOption(matchByTable, 2, matchByTable.bettype.option2._id)">
                  {{matchByTable.bettype.option2.name}}
                </a>
                <a href="javascript:void(0)" class="list-group-item list-group-item-action"
                  *ngIf="matchByTable.bettype.option3"
                  [ngClass]="{'list-group-item-success': matchByTable.bettype.option3.selected}"
                  (click)="toggleOption(matchByTable, 3, matchByTable.bettype.option3._id)">
                  {{matchByTable.bettype.option3.name}}
                </a>
              </div>
            </div>
            <hr>
          </div>
        </div>
        <button class="btn btn-info mt-3" data-toggle="modal" data-target="#addMatchModal" (click)="getMatches()"
          *ngIf="userService.user._id == owner._id">
          <i class="fa fa-plus mr-2"></i>
          <span>Añadir partidos</span>
        </button>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-xs-12" *ngIf="this.checkSubscription()">
    <div class="card">
      <div class="card-body table-body">
        <h4 class="text-center" *ngIf="selectedUser._id == userService.user._id">Mis apuestas</h4>
        <h4 class="text-center" *ngIf="selectedUser._id != userService.user._id">Apuestas de {{selectedUser.name}}</h4>
        <hr>
        <div class="panel-group">
          <div class="panel panel-default" *ngFor="let matchByTable of myForecasts; let i=index">
            <div class="panel-heading">
              <h4 class="panel-title card-title text-center">
                <a data-toggle="collapse" [href]="'#'+matchByTable._id">
                  <span>{{matchByTable.match.localteam}}</span>
                  <span class="ml-2">VS</span>
                  <span class="ml-2">{{matchByTable.match.awayteam}}</span>
                  <span class="ml-2"
                    style="font-size: 13px; color: #ccc2c2;">{{matchByTable.match.when | date: 'short'}}</span>
                </a>
              </h4>
            </div>
            <div [id]="matchByTable._id" class="panel-collapse collapse">
              <span>{{matchByTable.bettype.name}}</span>
              <br>
              <div class="list-group">
                <a href="javascript:void(0)" class="list-group-item list-group-item-action"
                  [ngClass]="{'list-group-item-success': matchByTable.bettype.option1._id == matchByTable.choice._id}"
                  (click)="toggleOption(matchByTable, 1, matchByTable.bettype.option1._id)">
                  {{matchByTable.bettype.option1.name}}
                </a>
                <a href="javascript:void(0)" class="list-group-item list-group-item-action"
                  [ngClass]="{'list-group-item-success': matchByTable.bettype.option2._id == matchByTable.choice._id}"
                  (click)="toggleOption(matchByTable, 2, matchByTable.bettype.option2._id)">
                  {{matchByTable.bettype.option2.name}}
                </a>
                <a href="javascript:void(0)" class="list-group-item list-group-item-action"
                  *ngIf="matchByTable.bettype.option3"
                  [ngClass]="{'list-group-item-success' : matchByTable.bettype.option3._id == matchByTable.choice._id}"
                  (click)="toggleOption(matchByTable, 3, matchByTable.bettype.option3._id)">
                  {{matchByTable.bettype.option3.name}}
                </a>
              </div>
            </div>
            <hr>
          </div>
        </div>
        <button class="btn btn-info mt-3" data-toggle="modal" data-target="#addMatchModal" (click)="getMatches()"
          *ngIf="userService.user._id == owner._id">
          <i class="fa fa-plus mr-2"></i>
          <span>Añadir partidos</span>
        </button>
      </div>
    </div>
  </div>

  <button class="btn btn-secondary" *ngIf="!checkSubscription()">
    <i class="fa fa-plus mr-1"></i>
    <span (click)="subscribeToTable()">Unirme a la mesa</span>
  </button>
</div>


<!-- AÑADIR PARTIDOS -->
<div class="modal" id="addMatchModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Añadir partidos</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="card">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let match of matches" [ngClass]="{'active': match.selected}"
              (click)="toggleSelected(match)">
              <a href="javascript:void(0)" style="color: inherit;">
                <span>{{match.localteam}}</span>
                <span class="ml-2">VS</span>
                <span class="ml-2">{{match.awayteam}}</span>
                <span class="ml-2" style="font-size: 13px; color: #ccc2c2;">{{match.when | date: 'short'}}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="saveMatches()">Añadir
          partidos</button>
      </div>
    </div>
  </div>
</div>

<!-- DETALLE APUESTAS JUGADOR -->
<!-- <div class="modal" id="forecastsDetail">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Apuestas del jugador</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="card">
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let forecast of myForecasts" [ngClass]="{'active': forecast.selected}">
                <a href="javascript:void(0)" style="color: inherit;">
                  <span>{{forecast.match.localteam}}</span>
                  <span class="ml-2">VS</span>
                  <span class="ml-2">{{forecast.match.awayteam}}</span>
                  <span class="ml-2" style="font-size: 13px; color: #ccc2c2;">{{forecast.match.when | date: 'short'}}</span>
                </a>
              </li>
            </ul>
          </div>
        </div>      
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  
   -->
