<!-- <p>table works!</p> -->
<div class="row">
    <div class="col-lg-6 col-xs-12">
        <div class="card">
            <div class="card-body table-body">
                <div class="d-flex flex-column">
                    <div class="d-flex align-items-center">
                        <a href="javascript:void(0);" [routerLink]="['/profile', owner._id]" routerLinkActive="router-link-active" >
                            <img [src]="owner.image | image" width="50" class="mr-2 rounded-circle" alt="">
                            <span>{{owner.name}}</span>
                        </a>
                        <span class="badge badge-pill badge-primary ml-5 pt-2 pb-2" style="font-size:100%;">{{table.betamount}}€</span>
                        <span class="fa fa-soccer-ball-o ml-3 fa-2x"></span>
                    </div>
                </div>
                <hr>
                <div class="d-flex align-items-center">
                    <ul class="table-users-list d-flex flex-column">
                        <li>Joseluis</li>
                        <li>Rodrigales</li>
                        <li>Tornices</li>
                    </ul>                    
                    <h3 class="total-prize badge-pill badge-success ml-5 px-5" style="line-height: 75px;font-weight: bold;">{{table.totalamount}}€</h3>                                      
                </div>
                <button class="btn btn-secondary">
                    <i class="fa fa-plus mr-1"></i>
                    <span>Unirme a la mesa</span>
                </button>
            </div>
        </div>
    </div>
</div>