<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
<header class="topbar">
  <nav class="navbar top-navbar navbar-expand-md navbar-light">
    <div class="navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark"
            href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
        <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark"
            href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
        <li class="nav-item hidden-sm-down"></li>
      </ul>
      <!-- ============================================================== -->
      <!-- User profile and search -->
      <!-- ============================================================== -->
      <ul class="navbar-nav my-lg-0">
        <!-- ============================================================== -->
        <!-- Search -->
        <!-- ============================================================== -->
        <!-- <li class="nav-item hidden-xs-down search-box"> <a class="nav-link hidden-sm-down waves-effect waves-dark"
            href="javascript:void(0)"><i class="ti-search"></i></a>
          <div class="app-search">
            <input #input (keyup.enter)="buscar(input.value)" type="text" class="form-control"
              placeholder="Buscar y enter"> <a class="srh-btn"><i class="ti-close"></i></a>
          </div>
        </li> -->

        <!-- ============================================================== -->
        <!-- Profile -->
        <!-- ============================================================== -->
        <li class="nav-item dropdown">
            <!-- <span class="badge badge-pill badge-warning" style="font-size: 16px; padding: 8px; line-height: 20px; position: relative;">
                3
                <i class="fa fa-bell"></i>
              </span> -->
    
          <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="badge badge-pill badge-primary">{{userService.user.money}}€</span>
            <img [src]="userService.user.image | image" alt="user" alt="user" class="profile-pic" />
          </a>
          
          <div class="dropdown-menu dropdown-menu-right animated flipInY">
            <ul class="dropdown-user">
              <li>
                <div class="dw-user-box" align="center">
                  <div class="u-img">
                    <img [src]="userService.user.image | image" alt="user">
                  </div>
                  <div class="u-text">
                    <h4>{{ userService.user.name }}</h4>
                    <p class="text-muted">{{userService.user.email}}</p>
                    <a routerLink="/profile" class="btn btn-rounded btn-danger btn-sm">Ver perfil</a>
                  </div>
                </div>
              </li>
              <li role="separator" class="divider"></li>
              <li><a routerLink="/profile"><i class="ti-user"></i> Mi perfil</a></li>
              <li><a href="#"><i class="ti-email"></i> Mensajes</a></li>
              <li role="separator" class="divider"></li>
              <li><a routerLink="/settings"><i class="ti-settings"></i> Ajustes</a></li>
              <li role="separator" class="divider"></li>
              <li><a (click)="userService.logout()" class="pointer"><i class="fa fa-power-off"></i> Salir</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
