<div class="row add-match-wrapper">
  <div class="col-lg-6 col-xs-12 col-md-8">
    <div class="card">
      <div class="card-body">
        <form ngNativeValidate (ngSubmit)="createMatch()" class="form-horizontal">
          <div class="d-flex flex-column justify-content-center align-items-center">
            <mat-radio-group aria-label="Selecciona un deporte" [(ngModel)]="sport" name="sport" [color]="'primary'"
              class="mb-3">
              <mat-radio-button value="futbol" [checked]="true">Fútbol</mat-radio-button>
              <mat-radio-button class="ml-3" value="tenis">Tenis</mat-radio-button>
            </mat-radio-group>
            <div class="form-group col-md-12" *ngIf="sport == 'futbol'">
              <div class="">
                <label for="">{{translate.instant('main.tournament')}} -
                  {{translate.instant('main.local_team')}}</label>
                <select name="competicion" [(ngModel)]="league" class="select-styled select bg-theme text-white"
                  (change)="changeLeague(league)" *ngIf="leagues.length>0">
                  <option *ngFor="let league of leagues" [value]="league | json">{{league.name}}</option>
                </select>
              </div>
              <div class="" *ngIf="league">
                <select name="club" id="club" [(ngModel)]="match.localteam"
                  class="select-styled select bg-theme text-white">
                  <option *ngFor="let club of clubs" [value]="club.name">{{club.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group col-md-12" *ngIf="sport == 'futbol'">
              <div class="">
                <label for="">{{translate.instant('main.tournament')}} - {{translate.instant('main.away_team')}}</label>
                <select name="competicion" id="competition" [(ngModel)]="league"
                  class="select-styled select bg-theme text-white" (change)="changeLeague(league)"
                  *ngIf="leagues.length>0">
                  <option class="bg-theme text-white" *ngFor="let league of leagues" [value]="league | json">
                    {{league.name}}</option>
                </select>
              </div>
              <div class="" *ngIf="league">
                <select name="club" [(ngModel)]="match.awayteam" class="select-styled select bg-theme text-white">
                  <option class="bg-theme text-white" *ngFor="let club of clubs" [value]="club.name">{{club.name}}
                  </option>
                </select>
              </div>
            </div>

            <mat-form-field class="example-full-width" *ngIf="sport == 'tenis'">
              <mat-label>Torneo</mat-label>
              <textarea matInput placeholder="Torneo" name="torneo" required [(ngModel)]="tennisTournament"></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width" *ngIf="sport == 'tenis'">
              <mat-label>Jugador 1</mat-label>
              <textarea matInput placeholder="Jugador 1" [(ngModel)]="match.localteam" name="localteam"
                required></textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width" *ngIf="sport == 'tenis'" class="mb-3">
              <mat-label>Jugador 2</mat-label>
              <textarea matInput placeholder="Jugador 2" [(ngModel)]="match.awayteam" name="awayteam"
                required></textarea>
            </mat-form-field>
          </div>
          <div class="form-group">
            <div class="col-xs-12 col-md-8 justify-content-center">
              <label for="when" class="mr-2">{{translate.instant('main.date')}}</label>
              <p-calendar [(ngModel)]="match.when" name="when" [inline]="false" touchUI="true" [showTime]="true"
                class="input-calendar" [required]="true" [hideOnDateTimeSelect]="false" [showIcon]="true"
                [stepMinute]="1">
              </p-calendar>
            </div>
          </div>

          <button _ngcontent-qqq-c5=""
            class="btn btn-secondary float-right bg-theme text-white">{{translate.instant('main.add_game')}}</button>
        </form>
      </div>
    </div>
  </div>
</div>
