<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input type="text" #search name="search" class="form-control" (keyup)="searchDoctor(search.value)"
          placeholder="Buscar...">
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn" *ngIf="loading">
  <div class="col-sm-12">
    <div class="alert alert-warning text-center">
      <strong>Cargando...</strong>
      <br>
      <i class="fa fa-refresh fa-spin fa-2x"></i>
      <br>
      <span>Espere por favor...</span>
    </div>
  </div>
</div>

<div class="row animated fadeIn" *ngIf="!loading">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <h3 class="card-title">Medicos registrados( <small>{{totalDoctors}}</small> )</h3>
        <div class="text-right">
          <button type="button" [routerLink]="['/doctor', 'new']" class="btn waves-effect waves-light btn-rounded btn-primary">
            <i class="fa fa-plus"></i>
            Crear medico
          </button>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Imagen</th>
              <th>Médico</th>
              <th class="mobile-hidden">Hospital</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let medico of doctors">
              <td>
                <img [src]="medico.img | image: 'doctors'" alt="" width="80" class="img-50 pointer"
                  (click)="showModal( medico._id )">
              </td>
              <td>{{medico.name}}</td>
              <td class="mobile-hidden">{{medico.hospital.name}}</td>
              <td style="display:flex;">
                <button class="btn btn-primary" [routerLink]="['/doctor', medico._id]">
                  <i class="fa fa-edit"></i>
                </button>
                <button style="margin-left: 7px;" class="btn btn-danger" (click)="deleteDoctor(medico)">
                  <i class="fa fa-trash-o"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>