<div class="video-container" ngDraggable ngResizable>
  <div class="d-flex">
    <div class="float-left" style="width: 200px;">
      <button class="btn btn-primary" (click)="getUsers()">Get users</button>
      <ul class="d-flex flex-column pl-0 mt-2">
        <li *ngFor="let user of users" class="d-flex">
          <!-- <span>{{user.name}}</span> -->
          <a href="javascript:void(0)" (click)="changeUserSelection(user._id)">{{user.name}}</a>
        </li>
      </ul>

    </div>
    <div class="float-right">
      <button (click)="startCall()" class="btn btn-success">LLamar</button>
      <button id="endcall" class="btn btn-danger ml-2">Close call</button>
      <video #myvideo id="myvideo" autoplay="true"></video>
    </div>
  </div>
</div>

  <router-outlet></router-outlet>

