<aside class="left-sidebar">
  <div class="scroll-sidebar">
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="user-profile">
          <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
            <img [src]="user.image | image" alt="user" />
            <span class="hide-menu">{{ user.name }} </span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li><a routerLinkActive="active" routerLink="/profile">{{translate.instant('main.see_profile')}}</a></li>
            <!-- <li><a [routerLink]="[ '/chat' ]" href="javascript:void()">{{translate.instant('main.messages')}}</a></li> -->
            <li><a [routerLink]="[ '/settings' ]">{{translate.instant('main.settings')}}</a></li>
            <li><a (click)="userService.logout()" class="pointer">{{translate.instant('main.exit')}}</a></li>
          </ul>
        </li>
        <li class="nav-devider"></li>
        <li *ngFor="let menu of userService.menu">
          <a class="has-arrow waves-effect waves-dark" aria-expanded="false">
            <i class="{{menu.icon}}"></i>
            <span class="hide-menu">{{translate.instant(menu.title)}}
              <span class="label label-rouded label-themecolor pull-right">{{menu.submenu.length}}
              </span>
            </span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li *ngFor="let submenu of menu.submenu">
              <a [routerLinkActive]="" [ngClass]="rla.isActive?'active':''" #rla="routerLinkActive"
                [routerLink]="[ submenu.url ]">
                {{translate.instant(submenu.title)}}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>
