
<div class="row">
  <div class="col-lg-6 col-xs-12">
    <div class="card">
      <div class="card-body">
          <app-grafico-dona [type]="graficos.grafico1.type" [labels]="graficos.grafico1.labels" [data]="graficos.grafico1.data" [leyenda]="graficos.grafico1.leyenda"></app-grafico-dona>        
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-xs-12">
    <div class="card">
      <div class="card-body">
        <app-grafico-dona [type]="graficos.grafico2.type" [labels]="graficos.grafico2.labels" [data]="graficos.grafico2.data" [leyenda]="graficos.grafico2.leyenda"></app-grafico-dona>        
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-xs-12">
    <div class="card">
      <div class="card-body">
          <app-grafico-dona [type]="graficos.grafico3.type" [labels]="graficos.grafico3.labels" [data]="graficos.grafico3.data" [leyenda]="graficos.grafico3.leyenda"></app-grafico-dona>        
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-xs-12">
    <div class="card">
      <div class="card-body">
        <app-grafico-dona [type]="graficos.grafico4.type" [labels]="graficos.grafico4.labels" [data]="graficos.grafico4.data" [leyenda]="graficos.grafico4.leyenda"></app-grafico-dona>        
      </div>
    </div>
  </div>
</div>