<div class="row animated fadeIn">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body pt-0 animated fadeInDown" >
        <div class="animated rubberBand" style="position:fixed; right: 5px; z-index: 999; top:50px;"
          *ngIf="betTypesLoaded">
        </div>
        <form ngNativeValidate class="form-horizontal form-material" id="create-table-form">
          <div class="container ">
            <div class="row">
              <div class="col-lg-3 col-xs-12 col-md-4 mt-2">
                <input class="form-control" type="text" required placeholder="{{translate.instant('main.game_name')}}"
                  [(ngModel)]="table.name" name="name" #name="ngModel">
                <span class="text-danger" style="font-size:13px;"
                  *ngIf="name.errors?.required">{{translate.instant('main.mandatory_field')}}</span>
              </div>
              <div class="col-lg-3 col-xs-12 col-md-4 mt-3">
                <mat-form-field class="">
                  <mat-label>{{translate.instant('main.bet_amount')}}</mat-label>
                  <mat-select disableRipple [(ngModel)]="table.betamount" #betamount="ngModel" name="betamount">
                    <mat-option value="1">1€</mat-option>
                    <mat-option value="2">2€</mat-option>
                    <mat-option value="5">5€</mat-option>
                    <mat-option value="10">10€</mat-option>
                    <mat-option value="15">15€</mat-option>
                    <mat-option value="20">20€</mat-option>
                    <mat-option value="30">30€</mat-option>
                    <mat-option value="50">50€</mat-option>
                    <mat-option value="100">100€</mat-option>
                  </mat-select>
                </mat-form-field>
                <!-- <input class="form-control" type="number" required
                  placeholder="{{translate.instant('main.bet_amount')}}" [(ngModel)]="table.betamount" name="betamount"
                  #betamount="ngModel">
                <span class="text-danger" style="font-size:13px;"
                  *ngIf="betamount.errors?.required">{{translate.instant('main.mandatory_field')}}</span> -->
              </div>
              <div class="col-lg-3 col-xs-12 col-md-4 mt-3" [hidden]="true">
                <div class="checkbox checkbox-primary p-t-0">
                  <input id="checkbox-signup" type="checkbox" [(ngModel)]="table.chat" name="chat" #chat="ngModel">
                  <label for="checkbox-signup">{{translate.instant('main.active_chat')}}</label>
                </div>
              </div>
            </div>
          </div>
        </form>
        <!-- <div *ngIf="!checkTieBreakSelection()" class="alert alert-info mt-3">
          <span>
            {{translate.instant('table.tiebreak_alert')}}
            <b>{{translate.instant('table.tiebreak_sugest')}}</b>.
          </span>
        </div> -->
        <br>
        <div class="createTableListContent">
          <p-listbox [options]="matches" [(ngModel)]="selectedMatches" [multiple]="true" [checkbox]="true" class="w-100"></p-listbox>
        </div>
        <!-- <p-pickList [source]="matches" [target]="selectedMatches" [responsive]="true"
          sourceHeader="Partidos disponibles" targetHeader="Partidos añadidos" filterBy="localteam, awayteam"
          (onTargetSelect)="setTieBreak($event)" (onMoveToTarget)="saveMatch($event,'','')"
          (onMoveToSource)="removeSelectedMatchTypeRelation($event)">
          <ng-template let-match let-index pTemplate="item">
            <div class="ui-helper-clearfix">
              <a>
                <span>{{match.localteam}}</span>
                <span class="ml-2">VS</span>
                <span class="ml-2">{{match.awayteam}}</span>
                <br>
                <span class="ml-2" style="font-size: 13px; color: #ccc2c2;">{{match.when | date: 'short'}}</span>
                <br>
              </a>
            </div>
          </ng-template>
        </p-pickList> -->
        <div class="d-flex justify-content-center">
          <button class="btn bg-theme text-white ml-2 mt-4 " (click)="createTable()" [disabled]="selectedMatches.length<3"
            type="submit">
            {{translate.instant('table.create_game')}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
