<!-- <video id="localVideo" #localVideo playsinline autoplay muted></video>
<video id="remoteVideo" #remoteVideo playsinline autoplay></video>
<div>
      <button #startButton id="startButton" [disabled]="startButtonDisabled" (click)="start()">Start</button>
      <button #callButton id="callButton" [disabled]="callButtonDisabled" (click)="call()">Call</button>
      <button #hangupButton id="hangupButton" [disabled]="hangupButtonDisabled" (click)="hangup()">Hang Up</button>
</div> -->

<div id="meet"></div>

<div class="container" *ngIf="closedCall == true" >
  <div class="row">
    <div class="col-sm-12">
      <div class="d-flex justify-content-center align-items-center">
          <button class="btn btn-rounded btn-primary" (click)="rejoin()" >
            Volver a la llamada
          </button>
          <button class="btn btn-rounded btn-secondary" (click)="salir()" >
            Salir
          </button>
      </div>
    </div>
  </div>
</div>
