<!-- <video id="localVideo" #localVideo playsinline autoplay muted></video>
<video id="remoteVideo" #remoteVideo playsinline autoplay></video>
<div>
      <button #startButton id="startButton" [disabled]="startButtonDisabled" (click)="start()">Start</button>
      <button #callButton id="callButton" [disabled]="callButtonDisabled" (click)="call()">Call</button>
      <button #hangupButton id="hangupButton" [disabled]="hangupButtonDisabled" (click)="hangup()">Hang Up</button>
</div> -->

<div id="meet"></div>