/* You can add global styles to this file, and also import other style files */

#themecolors li{
    cursor: pointer;
}

.pointer{
    cursor:pointer;
}

.background-black{
    background-color: rgba(0,0,0, 0.4);
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.hidden{
    display:none;
}

.block{
    display:block;
}

@media only screen and (max-width: 700px) {
    .mobile-hidden{
        display:none;
    }
    .match-title{
        font-size: 15px!important;
    }
    .video-container{
        max-width: 100%;
        height: 100%;
        overflow-y: auto;
    }
  }
.btn.disabled,
.btn:disabled {
  opacity: .65;
  background: gray !important;
  cursor: not-allowed!important;
}

 
.results-box iframe, .results-box iframe html body {
    width: 100%!important;
}

.video-container{
    position: fixed;
    z-index: 99999;
    background: white;
    width: 450px;
    border-radius: 20px;
    padding:20px;
    display:none;
    border: 1px solid #e1e1e1;    
}

.video-container #myvideo{
    width: 100%;
    position: relative;
    border:1px solid #e1e1e1;
    background: gray;
    margin-top: 15px;
    border-radius: 10px;
}

video {
    background: #222;
}

.close-page-container{
    display:none!important;
}

/* Select styled (create match component) */
.select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
  }
  
  .select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: #fff;
    width: 100%;
    height: 40px;
  }
  
  .select-styled {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #007bf0;
    padding: 8px 15px;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  .select-styled:after {
    content: "";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    top: 16px;
    right: 10px;
  }
  .select-styled:hover {
    background-color: #41688d;
  }
  .select-styled:active, .select-styled.active {
    background-color: #007bf0;
  }
  .select-styled:active:after, .select-styled.active:after {
    top: 9px;
    border-color: transparent transparent #fff transparent;
  }
  
  .select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #4b8ed6;
  }
  .select-options li {
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    border-top: 1px solid #007bf0;
    -moz-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
  }
  .select-options li:hover {
    color: #007bff;
    background: #fff;
  }
  .select-options li[rel="hide"] {
    display: none;
  }
  