.join-table-btn {
  border-radius: 50%;
}

@media screen and (min-width: 995px) {
  .truncate {
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.dashboard-button-link {
  background: white;
  padding: 10px;
  border-radius: 10px;
}
