<div class="row">
  <div class="col-lg-12">
    <div class="d-flex justify-content-between align-items-center">
      <h3 class="mat-h3 text-center mb-0 mr-2 text-themecolor">
        {{translate.instant('dashboard.next_games')}}
      </h3>
      <a class="ml-3" [routerLink]="[ '/add-table']" class="text-themecolor dashboard-button-link">
        <!-- <i class="text-themecolor fa fa-plus mr-2"></i> -->
        <span class="text-themecolor">{{translate.instant('dashboard.create_new_game')}}</span>
      </a>
    </div>
  </div>
</div>
<div class="row mt-1">
  <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let table of lastTables">
    <div class="card animated fadeIn" *ngIf="table && table._id">
      <div class="card-body">
        <a href="javascript:void(0)" [routerLink]="['/table', table._id]" class="d-flex">
          <img style="width: 22px;
              height: 22px;
              border-radius: 100%;
              margin-right: 10px;" [src]="table.owner.image | image" width="25px" alt="">
          <h5 class="card-title match-title mt-0">{{table.name}}</h5>
        </a>
        <p class="card-text"></p>
        <span class="badge badge-info fa fa-eur"> {{table.betamount}}</span>
        <span class="badge badge-success fa fa-user ml-2" style="font-size: 13px;"> {{table.activeusers}} </span>
        <span class="badge badge-light fa fa-trophy ml-2 " style="font-size: 13px;">
          {{table.activeusers * table.betamount}}€ </span>
        <span *ngIf="table.closed == true" style="font-size:13px;" class="badge badge-danger ml-2 fa fa-lock">
          <i class="fa fa-xczc"></i>
          <i class="fa fa-xczc"></i>
          <i class="fa fa-xczc"></i>
        </span>
        <br>
        <a href="javascript:void(0)" [routerLink]="['/table', table._id]"
          class="btn text-white bg-theme float-right join-table-btn">
          <i class="fa fa-sign-in btn text-white bg-theme"></i>
          <!-- {{ translate.instant('main.join') }} -->
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="d-flex justify-content-between align-items-center">
      <h3 class="mat-h3 text-center mb-0 mr-2 text-themecolor">
        {{translate.instant('dashboard.top_winners')}}
      </h3>
      <a class="ml-3" [routerLink]="[ '/ranking']" class="text-themecolor dashboard-button-link">
        <!-- <i class="text-themecolor fa fa-eye mr-2"></i> -->
        <span class="text-themecolor">{{translate.instant('dashboard.see_whole_ranking')}}</span>
      </a>
    </div>
  </div>
</div>
<div class="row mt-2">
  <div class="col-md-2" *ngFor="let user of topWinners; let i = index;">
    <div class="card main-card animated fadeIn fast active-user-card pt-0">
      <mat-card-content class="card-body d-flex justify-content-center align-items-center flex-column">
        <div class="d-flex flex-column justify-content-center align-items-center most-active-user-card"
          [routerLink]="['/profile', user._id]">
          <p matBadge="{{i+1}}" matBadgeOverlap="false">
            <img [src]="user.image | image" alt="Most active user" width="60" class="rounded-circle">
          </p>
          <h3 class="subheading-2 mb-0 truncate text-center">{{user.name}}</h3>
          <!-- <span class="mat-small mat-caption badge badge-warning">45 Comments</span>
            <span class="mat-small mat-caption badge badge-success mt-2">75 Likes</span> -->
        </div>
      </mat-card-content>
    </div>
  </div>

</div>
<div class="row">
  <div class="col-lg-12">
    <div class="d-flex justify-content-between align-items-center">
      <h3 class="mat-h3 text-center mb-0 mr-2 text-themecolor">
        {{ translate.instant('dashboard.overview') }}
      </h3>
    </div>
  </div>
</div>
<div class="row mt-2">
  <div class="col-lg-3 col-md-6">
    <div class="card main-card animated fadeIn fast">
      <mat-card-content class="card-body slow d-flex justify-content-center align-items-center flex-column">
        <div class="d-flex justify-content-center align-items-center">
          <mat-icon color="primary" class="mat-18 mr-1 header-card-icon">supervised_user_circle</mat-icon>
          <h4 class="mb-0 ml-2" style="line-height: normal;">Followers</h4>
        </div>
        <h2 class="mb-0 mt-2 mat-h2">12.8k</h2>
        <p class="small-text mt-1">
          <span class="text-success">
            <i class="fa fa-arrow-alt-circle-up"></i>
            +11.3%
          </span>
        </p>
      </mat-card-content>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="card main-card animated fadeIn fast">
      <mat-card-content class="card-body slow d-flex justify-content-center align-items-center flex-column">
        <div class="d-flex justify-content-center align-items-center">
          <mat-icon class="mat-18 mr-1 header-card-icon text-themecolor">emoji_events</mat-icon>
          <h4 class="mb-0 ml-2" style="line-height: normal;">{{translate.instant('dashboard.wins')}}</h4>
        </div>
        <h2 class="mb-0 mt-2 mat-h2">{{ userService.user.wins }}</h2>
        <p class="small-text mt-1">
          <span class="text-success">
            <i class="fa fa-arrow-alt-circle-up"></i>
            +7.7%
          </span>
        </p>
      </mat-card-content>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="card main-card animated fadeIn fast">
      <mat-card-content class="card-body slow d-flex justify-content-center align-items-center flex-column">
        <div class="d-flex justify-content-center align-items-center">
          <mat-icon color="warn" class="mat-18 mr-1 header-card-icon">thumb_up</mat-icon>
          <h4 class="mb-0 ml-2" style="line-height: normal;">Likes</h4>
        </div>
        <h2 class="mb-0 mt-2 mat-h2">11.5k</h2>
        <p class="small-text mt-1">
          <span class="text-success">
            <i class="fa fa-arrow-alt-circle-up"></i>
            +8.3%
          </span>
        </p>
      </mat-card-content>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="card main-card animated fadeIn fast">
      <mat-card-content class="card-body slow d-flex justify-content-center align-items-center flex-column">
        <div class="d-flex justify-content-center align-items-center">
          <mat-icon color="primary" class="mat-18 mr-1 header-card-icon">euro_symbol</mat-icon>
          <h4 class="mb-0 ml-2" style="line-height: normal;">{{translate.instant('dashboard.money')}}</h4>
        </div>
        <h2 class="mb-0 mt-2 mat-h2">{{ userService.user.money }}</h2>
        <p class="small-text mt-1">
          <span class="text-success">
            <i class="fa fa-arrow-alt-circle-up"></i>
            +12.3%
          </span>
        </p>
      </mat-card-content>
    </div>
  </div>
</div>
