<!-- <div class="row mt-2">
  <div class="col-sm-12 col-md-6 col-lg-4 mb-2">
    <a href="javascript:void(0)" class="btn btn-info" data-toggle="modal" data-target="#addNotificationModal">
      Crear notificación
      <i class="fa fa-plus ml-2"></i>
    </a>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 mt-2" *ngFor="let notification of notifications">
    <div class="card mb-3">
      <div class="card-body">
        <a href="javascript:void(0)" [routerLink]="['/notification', notification._id]" class="d-flex">
          <img style="width: 22px;
                    height: 22px;
                    border-radius: 100%;
                    margin-right: 10px;" [src]="notification.emiter.image | image" width="25px" alt="">
          <h5 class="card-title match-title pt-1">{{notification.subject}}</h5>
        </a>
        <p class="card-text">
          {{notification.content}}
        </p>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="addNotificationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Crear notificación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form ngNativeValidate (ngSubmit)="createNotification()" class="form-horizontal form-material">
          <div class="form-group ">
            <div class="col-xs-12">
              <input class="form-control" type="text" required placeholder="Titulo" [(ngModel)]="notification.subject"
                name="subject">
            </div>
          </div>
          <div class="form-group ">
            <div class="col-xs-12">
              <input class="form-control" type="text" required placeholder="Contenido"
                [(ngModel)]="notification.content" name="content">
            </div>
          </div>
          <button class="btn btn-success">Enviar notificación</button>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div> -->


<jqxSplitter [width]="getWidth()" [height]='600' [panels]='mainSplitterPanels'>
  <div>
    <jqxKanban id="kanban1" #myKanbanOne [width]='"100%"' [height]='"100%"' [source]='dataAdapter'
      [columns]='kanbanOneColumns' [connectWith]='"#kanban2, #kanban3"' [resources]='resourcesAdapterFunc()'
      [columnRenderer]='kanbanOneColumnRenderer'>
    </jqxKanban>
  </div>
  <div>
    <jqxSplitter [width]='"100%"' [height]='"100%"' [orientation]='"horizontal"' [panels]='rightSplitterPanels'>
      <div>
        <jqxKanban id="kanban2" #myKanbanTwo [width]='"100%"' [height]='"100%"' [source]='dataAdapter2'
          [columns]='kanbanTwoColumns' [connectWith]='"#kanban1, #kanban3"' [resources]='resourcesAdapterFunc()'
          [columnRenderer]='kanbanTwoColumnRenderer'>
        </jqxKanban>
      </div>
      <div>
        <jqxKanban id="kanban3" #myKanbanThree [width]='"100%"' [height]='"100%"' [source]='dataAdapter3'
          [columns]='kanbanThreeColumns' [connectWith]='"#kanban2, #kanban1"' [resources]='resourcesAdapterFunc()'
          [columnRenderer]='kanbanThreeColumnRenderer'>
        </jqxKanban>
      </div>
    </jqxSplitter>
  </div>
</jqxSplitter>
